---

- name: systemd restart tmp.mount
  ansible.builtin.systemd:
      name: tmp.mount
      daemon_reload: true
      enabled: true
      masked: false
      state: reloaded

- name: remount dev_shm
  ansible.builtin.command: mount -o remount /dev/shm

- name: remount var_tmp
  ansible.builtin.command: mount -o remount /var/tmp

- name: remount home
  ansible.builtin.command: mount -o remount /home

- name: systemd daemon reload
  ansible.builtin.systemd:
      daemon_reload: true

- name: grub2cfg
  ansible.builtin.command: /sbin/grub2-mkconfig -o "{{ amazon2cis_bootloader_file }}"

- name: restart postfix
  ansible.builtin.service:
      name: postfix
      state: restarted

- name: sysctl flush ipv6 route table
  ansible.posix.sysctl:
      name: net.ipv6.route.flush
      value: '1'
      sysctl_set: true
  when: ansible_virtualization_type != "docker"

- name: sysctl flush ipv4 route table
  ansible.posix.sysctl:
      name: net.ipv4.route.flush
      value: '1'
      sysctl_set: true
  when: ansible_virtualization_type != "docker"

- name: update auditd
  ansible.builtin.template:
      src: audit/99_auditd.rules.j2
      dest: /etc/audit/rules.d/99_auditd.rules
      owner: root
      group: root
      mode: 0600
  notify: restart auditd

- name: restart auditd
  ansible.builtin.command: /sbin/service auditd restart
  check_mode: false
  failed_when: false
  when:
      - not amazon2cis_skip_for_travis
  tags:
      - skip_ansible_lint

- name: grub2cfg
  ansible.builtin.command: /sbin/grub2-mkconfig -o "{{ amazon2cis_bootloader_file }}"
  notify: Change_requires_reboot

- name: restart rsyslog
  ansible.builtin.service:
      name: rsyslog
      state: restarted

- name: restart sshd
  ansible.builtin.service:
      name: sshd
      state: restarted

- name: Change_requires_reboot
  ansible.builtin.set_fact:
      change_requires_reboot: true
